.day-059 {
	color: #fff;
	cursor: pointer;

	& .code-link {
		mix-blend-mode: exclusion;
	}

	& .heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
		letter-spacing: 2px;
		pointer-events: none;

		& h1 {
			font-size: 64px;
			transition: all 500ms ease-out;
		}

		& h2 {
			font-size: 36px;
			transition: all 500ms ease-out;
		}
	}

	%background {
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		height: 400px;
	}

	.slides {
		@extend %background;
		background-size: 800px 400px;
		background-image: url('/entries/059/images/slide-1.jpeg');

		& .slide {
			@extend %background;
			background-image: url('/entries/059/images/slide-2.jpeg');
			transition: all 1s ease-out;
			float: left;
			opacity: 0;
		}

		@for $num from 1 through 10 {
			& .slide-#{$num} {
				@if $num % 2 == 0 {
					transform: translateY(50px); // even
				} @else {
					transform: translateY(-50px); // odd
				}
			}
		}

		&:hover {
			.slide {
				transform: translateY(0);
				opacity: 1;
			}

			h1 {
				transform: translateX(-50px);
				opacity: 0;
			}

			h2 {
				transform: translateX(50px);
				opacity: 0;
			}
		}
	}
}
