.day-056 {
	background: #17a078;
	color: #fff;

	& .flower {
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
		animation: flower-rotation 6s ease infinite both;

		@keyframes flower-rotation {
			0% {
				transform: rotate(0);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		& .petal {
			position: absolute;
			top: calc(50% - 60px);
			left: calc(50% - 30px);
			width: 60px;
			height: 60px;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
			background: #fff;
			border-radius: 60px 0;
			opacity: 0.7;
			transform-origin: 50% 100%;
			z-index: 1;
			transition: all 300ms ease;

			@for $num from 1 through 20 {
				&:nth-child(#{$num}) {
					animation: petal-#{$num} 6s ease infinite both;
					animation-delay: ($num * 50) + 0ms;
				}

				@keyframes petal-#{$num} {
					0% {
						transform: rotate(($num * 18) + 0deg) translateX(30px) scale(0.75);
					}
					25% {
						transform: rotate(($num * 18) + 0deg) translateX(30px) scale(1.5);
					}
					100% {
						transform: rotate(($num * 18) + 0deg) translateX(30px) scale(1);
					}
				}
			}
		}

		& .stigma {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 25px);
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #f4d055;
			z-index: 2;
			transition: all 600ms ease;
		}

		&:hover {
			cursor: pointer;
		}

		&:hover .petal {
			opacity: 0.25;
		}

		&:hover .stigma {
			transform: scale(0);
		}
	}
}
