.day-076 {
	background: #34495e;
	color: #fff;

	& .center {
		perspective: 300px;

		& .form-container {
			position: absolute;
			transform-style: preserve-3d;
			transform-origin: center top;
			transition: all 500ms ease-out;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

			&:valid {
				transform: rotateX(180deg);
			}

			& .input-box {
				height: 50px;
				width: 200px;
				text-align: center;
				border: 0;
				outline: 0;
				backface-visibility: hidden;
			}

			& .key-title {
				position: absolute;
				inset: 0;
				font-weight: 700;
				height: 50px;
				width: 200px;
				background: #fff;
				color: #121212;
				display: flex;
				align-items: center;
				justify-content: center;
				backface-visibility: hidden;
				transform: rotateX(-180deg);
			}
		}

		& .key-answer {
			height: 50px;
			width: 200px;
			background: #64c760;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
