.day-058 {
	background: #d33526;
	color: #fff;
	perspective: 300px;

	& .center {
		position: absolute;
		top: calc(50% - 100px);
		left: calc(50% - 100px);
		width: 200px;
		height: 200px;
		transform-style: preserve-3d;
		transform: rotateX(-30deg);
		transition: all 1s ease-out;

		&:hover {
			transform: rotateX(30deg);
			cursor: pointer;
		}
	}

	& .slice {
		border: 2px solid #d33526;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		transform-origin: center center;
		transition: all 200ms ease-out;

		&:hover {
			border: 2px solid #fff;
			background: #d33526;
		}

		@mixin transform($num) {
			transform: translateY(#{$num}) rotateX(90deg);
		}

		@mixin size($num) {
			width: $num;
			height: $num;
		}

		@mixin position($num) {
			top: $num;
			left: $num;
		}

		/* 
		*
		* Variables: 
		* $i <= 9, represents bottom half
		* $mirror_i, represents top half
		* $i == 10, represents middle piece
		*
		* Formulas: 
		* squared: accounts for sphere curvature
		* calculatePosition: center each slice based on its size
		* calculateSize: as $i increases, each subsequent slice size decreases
		* calculateTransform: offset position to create space between each slice while maintaining sphere curvature
		*
		*/

		@function squared($var) {
			@return $var * $var;
		}

		@function calculatePosition($i) {
			@return ((200px - calculateSize($i)) / 2);
		}

		@function calculateSize($i) {
			@if $i <= 9 {
				@return 200px - (2 * squared($i));
			} @else {
				$mirror_i: 20 - $i;
				@return 200px - (2 * squared($mirror_i));
			}
		}

		@function calculateTransform($i) {
			@if $i <= 9 {
				@return ($i * 15) - (squared($i) / 2) * 1px;
			} @else {
				$mirror_i: 20 - $i;
				@return (($mirror_i * 15) - (squared($mirror_i) / 2)) * -1px;
			}
		}

		@for $i from 1 through 19 {
			@if $i != 10 {
				&-#{$i} {
					@include position(calculatePosition($i));
					@include size(calculateSize($i));
					@include transform(calculateTransform($i));
				}
			}
		}

		// middle
		&-10 {
			@include position(0px);
			@include size(200px);
			@include transform(0);
		}
	}
}
