.day-052 {
	background: #28ae60;
	color: #fff;

	& .rings {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 6px dotted #fff;
		border-radius: 50%;

		@for $ring from 1 through 11 {
			&:nth-child(#{$ring}) {
				width: ($ring * 20px) + 50px;
				height: ($ring * 20px) + 50px;
				animation: rings-wave 3s ease-in infinite both ($ring * 500ms) alternate;
			}
		}
	}
}

@keyframes rings-wave {
	0%,
	25% {
		opacity: 0;
	}
	75%,
	100% {
		opacity: 1;
	}
}
