.day-009 {
	background: #1b2337;
	color: #f0f1f6;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.day-009 .center {
	width: 100%;
}

/* Scene Wrapper: Moon & Hills */
.day-009 .scene {
	height: 305px;
	position: relative;
	overflow: hidden;
}

/* Moon & Crater Details */
.day-009 .moon {
	position: absolute;
	top: 45px;
	left: 55px;
	width: 75px;
	height: 75px;
	background-color: #f6edbd;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 0px 16px 1px rgba(246, 237, 189, 0.5);
	animation: moon-rise 1000ms ease-in forwards;
}

.day-009 .crater {
	position: absolute;
	background-color: #ede0a7;
	border-radius: 50%;
}

.day-009 .crater-1 {
	width: 10px;
	height: 10px;
	top: 10px;
	left: 28px;
}

.day-009 .crater-2 {
	width: 15px;
	height: 15px;
	top: 15px;
	left: 0;
}

.day-009 .crater-3 {
	width: 8px;
	height: 8px;
	top: 18px;
	right: 18px;
}

.day-009 .crater-4 {
	width: 8px;
	height: 8px;
	top: 25px;
	right: 0;
}

.day-009 .crater-5 {
	width: 6px;
	height: 6px;
	top: 35px;
	right: 20px;
}

.day-009 .crater-6 {
	width: 8px;
	height: 8px;
	top: 32px;
	left: 25px;
}

.day-009 .crater-7 {
	width: 6px;
	height: 6px;
	top: 48px;
	left: 18px;
}

.day-009 .crater-7 {
	width: 10px;
	height: 10px;
	bottom: 0;
	left: 4px;
}

.day-009 .crater-8 {
	width: 6px;
	height: 6px;
	bottom: 10px;
	left: 30px;
}

.day-009 .crater-9 {
	width: 8px;
	height: 8px;
	bottom: 15px;
	right: 10px;
}

.day-009 .crater-10 {
	width: 6px;
	height: 6px;
	bottom: 22px;
	right: 30px;
}

/* Hill Landscape */
.day-009 .landscape {
	position: relative;
	max-width: 800px;
	height: 305px;
	overflow: hidden;
}

.day-009 .landscape span {
	position: absolute;
	height: 275px;
	width: 400px;
	border-radius: 50%;
}

.day-009 .back-land-1 {
	background-color: #26314f;
	left: -15%;
	bottom: -45%;
}

.day-009 .back-land-2 {
	background-color: #26314f;
	right: -15%;
	bottom: -45%;
	width: 450px;
}

.day-009 .front-land-1 {
	background-color: #303c5d;
	bottom: -60%;
	left: -25%;
}

.day-009 .front-land-2 {
	background-color: #303c5d;
	left: 20%;
	bottom: -55%;
}

.day-009 .front-land-3 {
	background-color: #303c5d;
	bottom: -55%;
	right: -20%;
}

/* Weather Data */
.day-009 .info {
	background-color: #fff;
	color: #394567;
	height: 95px;
	padding: 0 24px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.day-009 .info div {
	margin-top: 2px;
	font-weight: 300;
	font-size: 14px;
}

.day-009 .info div:first-of-type {
	margin-right: auto;
}

.day-009 .info div:last-of-type {
	text-align: end;
}

.day-009 .info h1 {
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 4px;
	line-height: 1;
}

.day-009 .info p {
	line-height: 1.5;
}

.day-009 .info p span {
	font-weight: 500;
}

/* Rain Droplets */
.day-009 .rain {
	position: relative;
}

.day-009 .droplet {
	position: absolute;
	bottom: -5px;
	border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
	background-color: #7fc1f9;
}

.day-009 .droplet.lg {
	width: 12px;
	height: 14px;
}

.day-009 .droplet.md {
	width: 8px;
	height: 10px;
}

.day-009 .droplet.sm {
	width: 4px;
	height: 6px;
}

@keyframes rain-drop {
	0% {
		transform: translate(50px, -325px) scale(1) rotate(-25deg);
	}
	80% {
		transform: translate(0, 0) scale(1) rotate(-25deg);
		opacity: 1;
	}
	100% {
		transform: translate(0, 0) scale(4, 0);
		opacity: 0;
	}
}

@keyframes moon-rise {
	0% {
		transform: translateY(320px);
	}
	100% {
		transform: translateY(0);
	}
}
