.day-022 {
	background: linear-gradient(to bottom, #273e4c, #1c2e39);
	color: #fff;
}

.day-022 .center {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

/* Main heading */
.day-022 .title {
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	font-size: 18px;
}

.day-022 .title span {
	display: block;
	font-weight: 600;
	font-size: 24px;
}

/* Large circle: text */
.day-022 .lg-circle .text {
	font-size: 14px;
	color: #648192;
	text-align: center;
}

.day-022 .lg-circle .text span {
	display: block;
	font-weight: 400;
	font-size: 24px;
	color: #fff;
}

/* Large circle: progress bars */
.day-022 .lg-circle {
	position: relative;
}

.day-022 .lg-bars {
	position: absolute;
	top: -118px;
	left: 16px;
	width: 200px;
	height: 200px;
	transform: rotate(-90deg);
}

.day-022 .lg-circle .muted-bar {
	fill: none;
	stroke-width: 8px;
	stroke: #1b2a33;
}

.day-022 .lg-circle .completed-bar {
	--circumference: 345.4;
	--offset: 69.08;
	fill: none;
	stroke-width: 8px;
	stroke-linecap: round;
	stroke: #27e1ae;
	stroke-dasharray: var(--circumference);
	animation: progress-circle 2s ease-out forwards;
}

/* Small circle: text */
.day-022 .sm-circle .text {
	font-size: 12px;
	color: #648192;
	text-align: center;
}

.day-022 .sm-circle .text span {
	display: block;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}

/* Small circle: progress bars */
.day-022 .sm-circles {
	display: flex;
	gap: 96px;
}

.day-022 .sm-circle {
	position: relative;
}

.day-022 .sm-bars {
	position: absolute;
	top: -25px;
	width: 85px;
	height: 85px;
	transform: rotate(-90deg);
}

.day-022 .sm-circle .muted-bar {
	fill: none;
	stroke-width: 6px;
	stroke: #1b2a33;
}

.day-022 .sm-circle .completed-bar {
	--circumference: 219.8;
	fill: none;
	stroke-width: 6px;
	stroke-linecap: round;
	stroke: #5ce1ec;
	stroke-dasharray: var(--circumference);
	animation: progress-circle 2s ease-out forwards;
}

/* Small circles, individual positioning & animations */
.day-022 .sm-one {
	left: -24px;
	--offset: 65.94;
}

.day-022 .sm-two {
	left: -28px;
	--offset: 87.92;
}

/* Progress bar animations */
@keyframes progress-circle {
	from {
		stroke-dashoffset: var(--circumference);
	}
	to {
		stroke-dashoffset: var(--offset);
	}
}
