.day-013 {
	color: #333;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.day-013 .code-link {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px 6px;
	top: 5px;
	border-radius: 0 0 0 4px;
}

.day-013 .code-link:hover {
	background-color: #fff;
}

.day-013 .wrapper {
	padding: 5px;
}

/* Gallery Section */
.day-013 .gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.day-013 .gallery-image {
	position: relative;
	cursor: pointer;
}

.day-013 .gallery-image img {
	width: 100%;
	height: 192px;
	object-fit: cover;
}

.day-013 span {
	display: block;
	transition: all 300ms ease-out;
}

.day-013 .open-icon {
	color: #fff;
	background-color: #15803d;
	padding: 16px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -50%) scale(2);
	transition: all 400ms ease-out;
}

/* Gallery Section: Hover Styling */
.day-013 .gallery-image:hover img {
	filter: grayscale(0.6);
}

.day-013 .gallery-image:hover span {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	inset: 0;
}

.day-013 .gallery-image:hover .open-icon {
	opacity: 1;
	visibility: revert;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

/* Profile Section */
.day-013 .profile {
	position: absolute;
	inset: 0;
	pointer-events: none;
}

.day-013 .profile-cover {
	height: 200px;
	width: 100%;
	aspect-ratio: 2 / 1;
	object-fit: cover;
	filter: grayscale(0.5);

	transition: all 600ms ease-in 100ms;
	transform: translateY(-210px);
}

.day-013 .profile-avatar {
	border-radius: 50%;
	object-fit: cover;
	object-position: 0% 0%;
	border: 3px solid #fff;
	box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 50%;
	left: 50%;
	height: 90px;
	width: 90px;
	z-index: 2;

	transition: all 700ms ease-in 400ms;
	transform: translate(-50%, -500%);
}

.day-013 .profile-bottom {
	background-color: #15803d;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	height: 250px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;

	transition: all 600ms ease-in 100ms;
	transform: translateY(210px);
}

.day-013 .profile-bottom b {
	display: block;
	font-size: 16px;
	font-weight: 600;
}

/* Profile Section: Buttons */
.day-013 .close-icon {
	color: #fff;
	background-color: #15803d;
	padding: 16px 18px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;

	transition: transform 700ms ease-out 600ms, background-color 200ms ease-in;
	transform: translateY(-200px);
}

.day-013 .close-icon:hover {
	background-color: #fff;
	color: #15803d;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.day-013 .profile-buttons {
	display: flex;
	gap: 48px;
}

.day-013 .profile-buttons span {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 12px 14px;

	transition: all 200ms ease-out;
}

.day-013 .profile-buttons span:hover {
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
	color: #15803d;
	background-color: #fff;
	cursor: pointer;
}

/* Active Classes */
.day-013 .profile.active {
	pointer-events: revert;
}

.day-013 .close-icon.active,
.profile-cover.active,
.profile-bottom.active {
	transform: translate(0);
}

.day-013 .profile-avatar.active {
	transform: translate(-50%, -50%);
}
