.day-014 {
	background: #4a4841;
	color: #ffce4d;
}

.card {
	-webkit-perspective: 1000px;
	perspective: 1000px;
	height: 180px;
	width: 300px;
}

.card-face {
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: transform 600ms ease-in;
	transform: rotateX(0) translateZ(0);
}

.front,
.back {
	background-color: #ffce4d;
	border-radius: 4px;
	box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
	text-align: center;
	backface-visibility: hidden;
	overflow: hidden;

	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.back {
	transform: rotateX(180deg);
}

.card:hover .card-face {
	transform: rotateX(180deg);
}

/* Bike Bounce */
.front img {
	transform-origin: bottom center;
	animation: bike-bounce 300ms ease-in infinite alternate;
}

@keyframes bike-bounce {
	to {
		transform: scaleY(0.95);
	}
}

/* Helicopter Flying */
.back img {
	animation: heli-movement 1s ease infinite alternate;
}

@keyframes heli-movement {
	50% {
		transform: translateY(5px);
	}
	0%,
	100% {
		transform: translateY(-5px);
	}
}

/* Background Scene Animations */
.dash {
	background-color: #4a4841;
	height: 3px;
	border-radius: 4px;
	position: absolute;
	animation: scene-movement linear infinite;
}

.ground,
.sky {
	position: absolute;
	overflow: hidden;
	height: 115px;
}

.ground {
	width: 180px;
	top: 125px;
	right: 50px;
}

.sky {
	width: 200px;
	top: 30px;
	left: 70px;
}

.sky .dash {
	z-index: -1;
}

@keyframes scene-movement {
	to {
		transform: translateX(-180px);
	}
}
