.day-014 {
	background: #4a4841;
	color: #ffce4d;
}

/* Card Container: Create 3D Space */
.day-014 .card {
	-webkit-perspective: 1000px;
	perspective: 500px;
	height: 180px;
	width: 300px;
}

.day-014 .card-face {
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: transform 600ms ease-in;
}

/* Individual Card Styling */
/* position: absolute for stacking context */
.day-014 .card-face > div {
	background-color: #ffce4d;
	border-radius: 4px;
	box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
	backface-visibility: hidden;
	overflow: hidden;

	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* back side is hidden (rotated) */
.day-014 .back {
	transform: rotateX(180deg);
}

/* card is rotated, revealing the hidden back side */
.day-014 .card:hover .card-face {
	transform: rotateX(180deg);
}

/* Bike Bounce Animation */
.day-014 .front img {
	transform-origin: bottom center;
	animation: bike-bounce 300ms ease-in infinite alternate;
}

@keyframes bike-bounce {
	to {
		transform: scaleY(0.95);
	}
}

/* Helicopter Flying Animation */
.day-014 .back img {
	animation: helicopter-movement 1s ease infinite alternate;
}

@keyframes helicopter-movement {
	50% {
		transform: translateY(5px);
	}
	0%,
	100% {
		transform: translateY(-5px);
	}
}

/* Background Scene Animations */
.day-014 .dash {
	background-color: #4a4841;
	height: 3px;
	border-radius: 4px;
	position: absolute;
	animation: scene-movement linear infinite;
}

.day-014 .ground,
.day-014 .sky {
	position: absolute;
	overflow: hidden;
	height: 115px;
}

.day-014 .ground {
	width: 180px;
	top: 125px;
	right: 50px;
}

.day-014 .sky {
	width: 230px;
	top: 30px;
	left: 60px;
}

.day-014 .sky .dash {
	z-index: -1;
}

@keyframes scene-movement {
	to {
		transform: translateX(-180px);
	}
}
