.day-078 {
	background: #3498db;
	color: #fff;

	& .button {
		background: #fff;
		color: #333;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 18px;
		margin: 18px auto;
		height: 60px;
		width: 200px;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 300ms ease;

		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}

		&:nth-child(1):hover {
			box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
		}

		&:nth-child(2):hover {
			box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.4);
		}

		&:nth-child(3):hover {
			box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.4);
		}
	}
}
