/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quattrocento Sans', sans-serif;
	background-color: #f2f4f6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg,
iframe {
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	border: 0;
}

a,
button {
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style-type: none;
}
